In [10]:
import pandas as pd

In [12]:
toronto_profile_csvpath = "Resources/neighbourhood-profiles-2016-csv.csv"

toronto_2016_raw_df = pd.read_csv(toronto_profile_csvpath)
toronto_2016_raw_df.head()

,_id,Category,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,1,Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,...,37,7,137,64,60,94,100,97,27,31
1,2,Neighbourhood Information,Neighbourhood Information,City of Toronto,TSNS2020 Designation,NaN,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,3,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
3,4,Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
4,5,Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%

In [32]:
drop_rows_toronto_2016 = toronto_2016_raw_df.iloc[0:3,:]
drop_columns_toronto_2016 = drop_rows_toronto_2016.drop(columns=['_id','Category','Topic','Data Source','Characteristic','City of Toronto'])

In [33]:
drop_columns_toronto_2016

,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,Bayview Woods-Steeles,Bedford Park-Nortown,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
0,129,128,20,95,42,34,76,52,49,39,...,37,7,137,64,60,94,100,97,27,31
1,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
2,"29,113","23,757","12,054","30,526","27,695","15,873","25,797","21,396","13,154","23,236",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"

In [36]:
toronto_2016_raw = drop_columns_toronto_2016.T

In [37]:
toronto_2016_raw.head()

                                0               1       2
Agincourt North               129  No Designation  29,113
Agincourt South-Malvern West  128  No Designation  23,757
Alderwood                      20  No Designation  12,054
Annex                          95  No Designation  30,526
Banbury-Don Mills              42  No Designation  27,695

In [39]:
toronto_2016_raw = toronto_2016_raw.drop(columns=[1])

In [54]:
toronto_2016_raw

                                0       2
Agincourt North               129  29,113
Agincourt South-Malvern West  128  23,757
Alderwood                      20  12,054
Annex                          95  30,526
Banbury-Don Mills              42  27,695
...                           ...     ...
Wychwood                       94  14,349
Yonge-Eglinton                100  11,817
Yonge-St.Clair                 97  12,528
York University Heights        27  27,593
Yorkdale-Glen Park             31  14,804

[140 rows x 2 columns]

In [57]:
toronto_neighbourhood_id_population.columns = ['Neighbourhood ID','Population'] 
toronto_neighbourhood_id_population

                             Neighbourhood ID Population
Agincourt North                           129     29,113
Agincourt South-Malvern West              128     23,757
Alderwood                                  20     12,054
Annex                                      95     30,526
Banbury-Don Mills                          42     27,695
...                                       ...        ...
Wychwood                                   94     14,349
Yonge-Eglinton                            100     11,817
Yonge-St.Clair                             97     12,528
York University Heights                    27     27,593
Yorkdale-Glen Park                         31     14,804

[140 rows x 2 columns]